* { box-sizing: border-box; }

/* variables */
:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --black-color-transparent-200: #00000029;
    --blue-color: #08A6E4;
    --dark-gray-color: #A5A5A5;
    --blue-color-transparent: #07ACE629;
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --lynx-white-color: #F7F7F7;
    --light-grayish-blue-color: #E8E9ED;
    --vivid-blue-color: #07ACE6;
    --red-color-transparent-100: #F9043629 ;
    --dark-blue-color: #13253B;
    --pink-color: #EB476E;
    --red-color-transparent-200: #ff0911;
    --gray-color: #95989A;
    --very-dark-gray-color: #707070;

    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    margin: 0 auto;
    background-color: var(--white-color);
}

.top-section {
    width: 101.625rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4.375rem;
    background: #FFFFFF;
    box-shadow: 0 0.188rem 0.375rem var(--black-color-transparent-200);
}

.top-section__logo {
    width: 142px;
    height: 37px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: var(--blue-color);
    text-align: left;
    margin-left: 8.5rem;
    margin-right: 8.5rem;
    line-height: 2.313rem;
    display: flex;
    align-items: center;
    letter-spacing: 0;

}

.top-section__nav-list {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    display: flex;
    gap: 5.938rem;
    padding-right: 8.5rem;
    white-space: nowrap;
}

.top-section__nav-link {
    color: var(--dark-gray-color);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.205rem;
    font-size: 0.688rem;
}



/* Barva ob hoverju */
.top-section__nav-item:hover .top-section__nav-link {
    color: var(--black-color);
    font-weight: 700;
}

/* Custom underline */
.top-section__nav-item .top-section__nav-link::after {
    content: "";
    position: absolute;
    left: 50%;              /* začetek iz sredine */
    transform: translateX(-50%); /* poravna na sredino */
    bottom: -24px;        /* spuščeno malo nižje (po potrebi spreminjaš) */
    width: 84px;            /* fiksna dolžina črte */
    height: 0.25rem;        /* debelina črte, kot si imel */
    background-color: var(--blue-color);
    opacity: 0;             /* skrito, dokler ni hover */
}

/* Pokaži črto na hover */
.top-section__nav-item:hover .top-section__nav-link::after {
    opacity: 1;
}

.header {
    width: 101.625rem;
    height: 37.125rem;
    background-image: url("../images/background.png");                  /* pot do tvoje slike */
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
    color: white;
    display: flex;
    align-items: center;      /* vertikalno centriranje vsebine */
    justify-content: center;  /* horizontalno centriranje vsebine */
    text-align: center;       /* centriranje teksta znotraj containerja */
    margin-top: 24.75rem;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    max-width: 1200px;
    padding: 0;
    background-color: transparent;
    color: var(--black-color);
    margin-bottom: 500px;
}

.header__title {
    font-family: "Raleway", sans-serif;
    font-weight: 450;
    font-size: 3rem;
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.header__subtitle {
    width: 24em;
    height: 1.375em;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    margin-bottom: 38px;
}

.btn {
    color: var(--white-color);
    text-decoration: none;
}

.btn-container {
    width: 440px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    border-radius: 2.5rem;
    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 270px;
}

.btn-container .btn:hover {
    background-color: #07ACE6; /* malo svetlejša modra ob hoverju */
}



